.container {
    padding: 0.5% 15%;
}

.grid-transparent {
    z-index: 1;
    background: transparent;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    place-items: center;
}

.grid-non-transparent {
    z-index: 1;
    position: sticky;
    top: 0;
    background: white;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    place-items: center;
}

.flex {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.flex li {
    width: 44%;
    padding: 3%;
}

ul {
    padding: 0%;
    display: inline-block;
    list-style-type: none;
    height: 100%;
}

.grid-transparent a {
    text-decoration: none;
    color: white;
}

.grid-non-transparent a {
    text-decoration: none;
    color: green;
}

.grid-transparent .border {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
}

.grid-non-transparent .border {
    border-style: solid;
    border-color: green;
    border-width: 2px;
    border-radius: 5px;
}

.full-width {
    width: 100%;
    place-items: center;
}

.block-70 {
    display: inline-block;
    width: 70%;
    position: relative;
    text-align: center;
}

.block-30 {
    display: inline-block;
    width: 30%;
    position: relative;
    text-align: center;
}

.block-30 ul {
    margin: 0%;
}

.logo-holder {
    padding-top: 2%;
    width: 90%;
    height: 90%;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 40%;
    width: 80%;
    right: 10%;
}

.grid-non-transparent .searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 40%;
    width: 80%;
    right: 10%;
    border: 2px green;
    border-style: solid;
}

.searchContainer div {
    background: white;
    padding: 3px;
    align-content: center;
}

.searchContainer div img {
    height: 20px;
    width: 20px;
}

.searchContainer input {
    border: none;
    border-radius: 0;
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.searchContainer input:focus {
    outline: none;
}

.bg {
    position: absolute;
    z-index: -1;
    display: block; /*Not necessary, but we do want it this way*/
    box-sizing: border-box; /*Not necessary in this situation*/
    width: 100%; /*Not necessary, but we do want it this way*/
    height: 100vh; /*Necessary.  100vh = 100% of the viewport height*/
    padding: 0; /* No padding */
    margin: 0; /* No margins */
    background: url("https://images6.alphacoders.com/405/405948.jpg") no-repeat
        center center;
    /* Shorthand: image, repeat, X align, Y align. */
    background-size: cover; /* Cover all available space*/
}

.test {
    color: chartreuse;
    width: 100%;
    height: 81vh;
    padding-top: 9vh;
}

.test2 {
    padding: 3px;
}
