@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:wght@500;700&family=Rajdhani:wght@700&display=swap");

html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1 {
    margin: 0;
    font-family: "Marck Script", cursive;
}

p {
    margin: 0;
}

section {
    margin-bottom: 60px;
}

.section-header {
    padding: 5% 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #ff7b00;
}

.sn-header-body {
    text-align: center;
}

.sn-header-body svg {
    height: 50px;
    width: 50px;
}

.section-body {
    display: flex;
    padding-top: 2%;
    height: 100%;
    align-items: center;
}

.sn-body-equal-half {
    display: inline-block;
    width: 50%;
    height: 100%;
    /* text-align: center; */
}

.img-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    padding: 0 15%;
}

.flex-center {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.flex-center li {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

/* Header */

header {
    height: 80px;
    position: fixed;
    transition: 0.15s ease;
    z-index: 1;
    font-size: 18px;
}

.grid-transparent {
    background: transparent;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    place-items: center;
}

.grid-non-transparent {
    background: white;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    place-items: center;
    /* opacity: 0.95; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-transparent a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: "Marck Script", cursive;
    transition: 0.15s ease;
    padding: 5px;
}

.grid-non-transparent a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: "Marck Script", cursive;
    transition: 0.15s ease;
    padding: 5px;
}

header a:hover {
    color: rgb(255, 123, 0);
}

header .border:hover {
    border-color: rgb(255, 123, 0);
}

.grid-transparent .border {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
}

.grid-non-transparent .border {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
}

.full-width {
    width: 100%;
    place-items: center;
}

.block-65 {
    display: inline-block;
    width: 65%;
    position: relative;
    text-align: center;
}

.block-65 li {
    display: inline-block;
    width: 50%;
}

.block-35 {
    display: inline-block;
    width: 35%;
    position: relative;
    text-align: center;
}

.logo-holder {
    padding-top: 10%;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

#logo {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 35%;
    width: 90%;
    right: 5%;
}

.grid-non-transparent .searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    border-radius: 10px;
    overflow: hidden;
    height: 35%;
    width: 90%;
    right: 5%;
    border: 2px black;
    border-style: solid;
}

.searchContainer div {
    background: white;
    padding: 3px;
    display: flex;
    align-items: center;
}

.searchContainer div svg {
    color: rgb(255, 123, 0);
}

.searchContainer div img {
    height: 20px;
    width: 20px;
}

.searchContainer input {
    color: #ff7b00;
    border: none;
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.searchContainer input:focus {
    outline: none;
}

/* Header end */

/* Ad */

.bg {
    position: relative;
    z-index: -1;
    display: block; /*Not necessary, but we do want it this way*/
    box-sizing: border-box; /*Not necessary in this situation*/
    width: 100%; /*Not necessary, but we do want it this way*/
    height: 100vh; /*Necessary.  100vh = 100% of the viewport height*/
    padding: 0; /* No padding */
    margin: 0; /* No margins */
    background: linear-gradient(to bottom right, #ff8f00, #ffd8a6);
    /* Shorthand: image, repeat, X align, Y align. */
    background-size: cover; /* Cover all available space*/
    background-image: url(./img/ad-bg.png);
    mix-blend-mode: overlay;
}

.overlay {
    background: linear-gradient(to bottom right, #ff910052, #ffd8a6);
    mix-blend-mode: overlay;
}

.ad-body {
    height: 100vh;
    display: flex;
    align-items: center;
}

.ad-body h1 {
    font-family: "Marck Script", cursive;
    font-size: 100px;
}

.ad-text {
    opacity: 0.8;
}

/* Ad end */

/* Homepage */

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.feature-body {
    display: flex;
    margin: 8% 10%;
}

.feature-icon {
    display: inline-block;
    width: 20%;
}

.feature-content {
    display: inline-block;
    width: 80%;
}

.feature-body svg {
    height: 50px;
    width: 50px;
}

.feature-body svg:hover {
    color: red;
}

/* Homepage end */

.hexagon {
    top: 30vh;
    left: 40%;
    position: absolute;
    margin: 0 auto;
    background-color: dodgerblue;
    border-radius: 10px;
    width: 100px;
    height: 63px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
}
